html {
    background-color: rgb(8, 29, 43);
    font-size: 20px;
  }
  
  ul {
    background: rgb(0, 255, 64);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }

  h1, p {
    color: white;
  }